body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #3498db, #2ecc71);
    height: auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#userProfileContainer {
    max-width: 1000px; /* Or your preferred max width */
    margin: auto; /* Center the container */
    padding: 20px;
    background-color: #f8f8f8; /* Light background for the container */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin: 0;
    font-size: 18px;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* other styles */
}

/* Food-box */
.food-box {
    position: relative; /* Set the position to relative for absolute positioning inside */
    max-width: 300px; 
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 480px;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.favorite-btn {
    position: absolute; /* Set the position to absolute for precise placement */
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-btn::before {
    content: '\2665';
    font-size: 24px;
    color: rgb(214, 205, 205);
}

.favorite-btn:hover::before {
    content: '\2665';
    color: #ff0000;
}

.favorite-btn.active::before {
    color: #ff0000; /* Set the color to red for the active state */
}

#hoverWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    display: none;
}

#hoverWindow p {
    margin: 0;
}

#contentContainer > button {
    background-color: #4CAF50; /* Use a different color for better visibility */
    color: #fff;
    padding: 10px 20px; /* Increased padding for a more comfortable click/tap */
    border: 2px solid #4CAF50; /* Add a border for a cleaner look */
    border-radius: 5px; /* Rounded corners for a modern feel */
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center-align the button using margin */
    font-size: 16px; /* Adjust font size for better readability */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

#contentContainer > button:hover {
    background-color: #45a049; /* Darker shade on hover for a subtle interaction effect */
    color: #fff;
}

#closeWindowBtn {
    position: inherit;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
#closeWindowBtn:hover {
    opacity: 1;
}
#closeWindowBtn:before, #closeWindowBtn:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
#closeWindowBtn:before {
    transform: rotate(45deg);
}
#closeWindowBtn:after {
    transform: rotate(-45deg);
}


/* Return button */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(24, 15, 161); /* Green background */
    color: white; /* White text */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #a04598; /* Darker green background on hover */
}

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(105, 127, 141, 0.8); /* or any color you prefer */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}