body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    height: 100%;
}
.left-image, .right-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}
.left-image {
    background-image: url('../SupperClub_plates-collage.jpg'); /* Replace 'left_image.jpg' with your image path */
}
.right-image {
    background-image: url('../drinks-cocktail-party.jpg'); /* Replace 'right_image.jpg' with your image path */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay-text {
    color: #fff;
    font-size: 24px;
}
.left-image:hover .overlay {
    opacity: 1;
}

.right-image:hover .overlay {
    opacity: 1;
}
.login-register {
    position: absolute;
    top: 20px;
    right: 20px;
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}